obj/axi_ram.coe
common/.depend
common/common.o
common/openmips.o
obj/axi_ram.mif
obj/ucosii.asm
obj/ucosii.bin
obj/ucosii.om
port/.depend
port/os_cpu_a.o
port/os_cpu_c.o
port/port.o
ucos/.depend
ucos/os_core.o
ucos/os_dbg_r.o
ucos/os_flag.o
ucos/os_mbox.o
ucos/os_mem.o
ucos/os_mutex.o
ucos/os_q.o
ucos/os_sem.o
ucos/os_task.o
ucos/os_time.o
ucos/os_tmr.o
ucos/ucos.o
.vscode/settings.json
convert
trace.txt
